/* ! ############################################################ */
/* ! ###################### BACKGROUND ######################### */
/* ! ############################################################ */
/* .bgUp,
.bgDown{
    width: 100vw;

    position: absolute;
    z-index: -1;
}
.bgUp{
    background-color: black;
    height: 15%;
    top: 0px;
}
.bgDown{
    background-color: rgb(4, 7, 32);
    height: 85%;
    bottom: 0px;
} */
/* ! ############################################################ */
/* ! #################### APP ######################################## */
/* ! ############################################################ */
#app{
    height: 100vh;
}
.container,
.row .left, 
.row .right,
.row .col-12
{
    height: 80vh;
}
/* ! ############################################################ */
/* ! #################### LEFT ################################# */
/* ! ############################################################ */
.row .left{
    min-width: 40%;
}
.row .col-12{
    position: relative;
}
header,
#notifications,
#searchBro,
#bro
{
    width: 40vw;

}
header{
    min-height: 10vh;
    background-color: blue;
}
#bro .logo,
header .logo{
    height: 50px;
    border-radius: 50%;
}
#notifications{
    min-height: 10vh;
    
}
#notifications a{
    color: rgb(4, 7, 32);
}

#searchBro{
    min-height: 10vh;
    align-items: center;
    background-color: green;
}
#bro{
    min-height: 50vh;
    max-height: 50vh;
    background-color: purple;
    overflow-y: auto;

    position: absolute;
    bottom: 0px;
}
#broContainer{
    border: 1px solid white;
}

/* ! ############################################################ */
/* ! #################### RIGHT ################################# */
/* ! ############################################################ */
/* .row .right{
    max-width: 60%;
} */





/* .logo{
    height: 50px;
    border-radius: 50%;
}

#notifications a{
    color: darkblue;

}

#bro{
    min-height: 60vh;
    max-height: 60vh;
}
.row{
    position: relative;
}
#type{
    position: absolute;
    bottom: 0px;
    left: 0px;
} */
