/* ! ############################################################ */
/* ! ###################### BACKGROUND ######################### */
/* ! ############################################################ */
.bgUp,
.bgDown{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.bgUp{
    background-color: darkolivegreen;
    height: 20%;
    top: 0px;
}
.bgDown{
    background-color: rgb(4, 7, 32);
    height: 80%;
    bottom: 0px;
}
/* ! ############################################################ */
/* ! #################### APP ######################################## */
/* ! ############################################################ */
#app{
    height: 100vh;
}
.container,
.row .left, 
.row .right,
.col-4,
.col-8,
.col-12
{
    height: 80vh;
}
/* ! ############################################################ */
/* ! #################### LEFT & RIGHT ################################# */
/* ! ############################################################ */
.row .left{
    margin: 0 auto;
}
.row .right{
    /* max-width: 5vw;
    min-width: 25vw; */
    margin: 0 auto;

}

.row .col-4,
.row .col-8,
.row .col-12{
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}
header,
#notifications,
#searchBro,
#bro
{
    /* width: 25vw; */

}
.row .right header{
    /* width: 25vw; */
}
header{
    min-height: 10vh;
}
#bro .logo,
header .logo{
    height: 50px;
    border-radius: 50%;
}
#notifications{
    min-height: 10vh;
    
}
#notifications a{
    color: rgb(4, 7, 32);
}

#searchBro{
    min-height: 10vh;
    align-items: center;
    /* background-color: green; */
}
#bro{
    min-height: 50vh;
    max-height: 50vh;
    /* background-color: purple; */
    overflow-y: auto;
    white-space: nowrap;
}

#broContainer{
    border: 1px solid white;

    transition: 0.2s;
}
#broContainer:hover{
    cursor: pointer;
    filter: grayscale(2);
}

/* ! ############################################################ */
/* ! #################### RIGHT ################################# */
/* ! ############################################################ */
.right header{
    min-height: 10vh;
    /* background-color: antiquewhite; */
}
.right main{
    min-height: 60vh;
}
.right #type{
    /* background-color: aqua; */
    min-height: 10vh;
} 
.mainChat{
    background-image: url(../img/mine.jpg);
    object-fit: cover;
    object-position: center;
    display: flex;
    flex-direction: column;
    sad
    flex-grow: 1;
    overflow-y: auto;
    max-height: 60vh;
}

.msg-container{
    width: fit-content;
    padding: 0.5rem;
    max-width: 50%;
    border-radius: 1.5rem;
    margin: 1rem 4rem;
}
.msg-container.received-msg{
    align-self: flex-end;
    background-color:  black;
}

.msg-container.sent-msg{
    align-self: flex-start;
    background-color: #65ab33;
}

/* ! ############################################################ */
/* ! #################### Msgg ################################# */
/* ! ############################################################ */

.sent{
    text-align: end;
}

.received{
    text-align: start;
}
.msg-box{
    position: relative;
}